
body{
    color: whitesmoke;
    background-color: black;
}
.noStyle{
    text-decoration: none;
    color: whitesmoke;
}
#wrapper{
    width: 960px;
    margin: 0px auto;
    background-color: rgba(80, 80, 80, 0.401);
}
#nav{
    display: flex;
    justify-content: space-between;
    background-color: rgba(67, 67, 67, 0.433);
    padding: 10px;
}
.navTitle{
    display: flex;
    align-items: center;
}
.dropBtn{
    background-color: rgba(255, 255, 255, 0);
    border: none;
    padding: 0px;
}
.dropContent{
    display: none;
    position: absolute;
    background-color: rgb(67, 67, 67);
    min-width: 160px;
    z-index: 1;
    border-radius: 10px;
}
.dropContent a{
    color: whitesmoke;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropContent a:hover {background-color: rgb(88, 88, 88);}

.show{
    display: block;
}

.settingsIcon{
    height: 37px;
}
.navLinks{
    display: flex;
    align-items: center;
}
.navLink{
    text-decoration: none;
    color: whitesmoke;
    border-radius: 5px;
    padding: 5px;
    margin: 0px 2px;
    height: min-content;
    font-size: 20px;
}
.navLinkHover{
    text-decoration: none;
    color: whitesmoke;
    background-color: rgba(119, 119, 119, 0.479);
    border-radius: 5px;
    padding: 5px;
    margin: 0px 2px;
    height: min-content;
    font-size: 20px;
}
.post{
    border: 1px black solid;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: rgba(240, 248, 255, 0.14);
    font-family: monospace;
    font-size: 20px;
}
.post p{
    margin: 5px 0px;
}
.rightPost{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.error{
    color: red;
    font-style: italic;
}
.dropContent .deletePost:hover {background-color: rgb(240, 84, 84);}
.postIcon{
    height: 30px;
    transform: rotate(90deg);
}
.timeStamp{
    color: rgb(82, 100, 100);
    font-size: small;
}
.userLink{
    color: whitesmoke;
    text-decoration: none;
    font-size: 24px;
    font-weight: bold;
}
form{
    padding: 10px 10px;
}
.postContent{
    resize: none;
    width: 100%;
    border: none;
    background-color: rgba(240, 248, 255, 0);
    color: whitesmoke;
    outline: none;
    font-size: 24px;
}
#footer p{
    color: rgba(82, 100, 100, 0.199);
    text-align: center;
    margin: 0px;
    padding-bottom: 5px;
}